@model IEnumerable<Applications.WebClient.Models.ViewModel.SupportedBankVM>

@{
    ViewData["Title"] = "Supported banks";
}

<h4>Supported banks</h4>

<p>
    <a asp-action="Create">Create new supported bank</a>
</p>

@await Html.PartialAsync("_Searchbar", new Applications.WebClient.Models.ViewModel.FilterVM((string)ViewBag.Filter))

<table class="table">
    <thead>
        <tr>
            <th class="sort-column-header">
                <div class="column-header-name">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination", new Applications.WebClient.Models.ViewModel.PaginationVM((int)ViewBag.PageCount, (int)ViewBag.PageNumber, 2))

@section Scripts{
    <script src="~/js/dataView/State.js"></script>
    <script src="~/js/dataView/dateView.js"></script>
    <script>
        InitializeDataView("@ViewBag.Filter", "@ViewBag.ColumnName", @ViewBag.IsDescendingString, @ViewBag.PageNumber);
    </script>
}